#selection {
	z-index: 99999999999999;

	transition: 0.15s ease-in-out;
	transition-property:
		opacity, border-radius,
		transform, width, height, top, left;

	position: fixed;
	pointer-events: none;
	transform: scale(1.0);
	background: rgba(255, 255, 255, 0.3);
	border-radius: calc(var(--padding) / 2);
}

#selection.keyboard-selecting,
#selection.controller-selecting {
	transform: scale(1.1);
}
