:root {
	--disabled: #656E7F;
	--background: #4C515B;
	--foreground: #DDE2EB;
	--btnforeground: var(--foreground);
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #FFFFFF;
		--foreground: #4C566A;
		--btnforeground: var(--background);
	}
}

@font-face {
	font-family: "Roboto Mono";
	src: url("roboto.ttf");
}

body, button, input {
	font-size: 18px;
	font-weight: 700;
	overflow: hidden;
	-webkit-app-region: drag;
	color: var(--foreground);
	text-transform: uppercase;
	background: var(--background);
	font-family: "Roboto Mono", monospace;
}

nobr {white-space: nowrap}

.line {
	display: flex;
	margin-top: 15px;
}

.buttons {
	text-align: right;
	margin-left: auto;
	margin-right: 7px;
}

.text {max-width: 38vw}
.buttons {max-width: 55vw}

button, .text {
	border: none;
	outline: none;
	padding: 5px 15px;
	border-radius: 50px;
	transition: 0.2s ease-in-out;
}

button {
	margin-bottom: 10px;
	color: var(--btnforeground);
	-webkit-app-region: no-drag;
}

button:hover {opacity: 0.9}
button:active {
	opacity: 0.7;
	transform: scale(0.95);
}


#update {background: #81A1C1}
#setpath {background: #5E81AC}
#northstar {background: #C7777F}
#vanilla, #exit {background: #656E7F}
button:disabled {background: var(--disabled) !important; opacity: 0.5}
