@font-face {
	font-family: "Roboto Mono";
	src: url("roboto.ttf");
}

:root {
	--red: #C7777F;
	--blue: #81A1C1;
}

::-webkit-scrollbar {
	width: 8px;
}
 
::-webkit-scrollbar-track {
	border-radius: 10px;
	background: transparent;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: var(--red);
}

body {
	margin: 0;
	overflow: hidden;
	user-select: none;
	font-family: "Roboto Mono", monospace
}

img {
	pointer-events: none;
}

#bgHolder {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale(1.1);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image 0.5s ease-in-out;
	background-image: url("../assets/bg/viper.jpg");
	filter: brightness(0.4) blur(2px) grayscale(0.6);
}

.gamesContainer {
	width: 10%;
	height: 100%;
	min-width: 95px;
	max-width: 120px;

	float: left;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.mainContainer {
	height: 100%;
	flex-grow: 1;
	display: flex;
}


/* nav bar buttons */
.gamesContainer button {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;

	border: none;
	background-color: transparent;


	margin: 20px;
	position: relative;
	box-sizing: border-box;
	flex-basis: calc(100% - 10px);
}

  
.gamesContainer button::before {
	content: "";
	display: block;
	padding-top: 100%;
  }
  
  .gamesContainer button .content {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
  }

#vpBtn {background-image: url(../assets/icons/512x512.png)}
#nsBtn {background-image: url(../assets/icons/northstar.png)}
#ttfBtn {
	background-image: url(../assets/icons/titanfall2.png);
	background-size: 69%; /* nice */
}

.contentContainer {
	position: relative;
	display: block;
	padding: 0 10%;
	flex-grow: 1;
	color: white;
}

.contentMenu {
	list-style: none;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	padding: 0;
	margin-top: 25px;
	margin-bottom: 0;
	font-size: 20px;
}

.contentBody > div {
	margin-top: 50px;
}

/* some sections do not need space between them and menu */
#nsMain, #nsRelease, #vpReleaseNotes, .playBtnContainer {
	margin-top: 0 !important;
}

.contentMenu li {
	margin: 0 26px;
	height: fit-content;
	cursor: pointer;
}

.contentMenu li[active] {
	pointer-events: none;
}

.contentMenu li::after {
	top: 10px;
	width: 30px;
	height: 5px;
	opacity: 0.0;
	content: " ";
	display: block;
	text-align: center;
	position: relative;
	border-radius: 50px;
	background: var(--red);
	left: calc(50% - 15px);
	transition: 0.3s ease-in-out;
}

.contentMenu li[active]::after {
	top: 5px;
	opacity: 1.0;
}

/* these sections are hidden at start */
#nsContent, #ttfContent, #vpCredits, #vpReleaseNotes, #vpInfo, #nsMods, #nsRelease {
	display: none;
}

.contentBody img {
	max-width: 100%;;
}

.contentContainer .playBtnContainer {
	text-align: center;
}

.contentContainer .playBtn {
	width: 27%;
	height: 11%;
	border: none;
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin-top: 100px;
	margin-bottom: 10px;
	border-radius: 10px;
	transition: 0.3s ease-in-out;
	background-color: var(--red);
}

.contentContainer .playBtn:active {opacity: 0.7}
.contentContainer .playBtn:hover {transform: scale(1.02)}

.contentContainer #nsMain .playBtn {
	background-color: var(--blue);
}

a {
	color: var(--red);
	text-decoration: none;
	transition: filter 0.2s ease-in;
}

a:hover {
	filter: brightness(80%);
}

#nsContent .contentMenu {
	margin-bottom: 0;
}

#nsContent .contentBody img {
	transform: scale(0.85);
}

#nsRelease, #vpReleaseNotes {
	flex-direction: column;
	height: 80%;
	overflow-y: auto;
}

.inline * {
	display: inline-block;
}

#vpMain {
	text-align: center;
	margin-top: 140px;
}

#vpMain img {
	width: 20%;
}

#vpVersion {
	font-size: 16px;
}

.simplebar-scrollbar:before {
	background: var(--red) !important;
}
