@import "css/grid.css";
@import "css/dragui.css";
@import "css/toasts.css";
@import "css/popups.css";
@import "css/theming.css";
@import "css/launcher.css";

body {
	margin: 0;
	overflow: hidden;
}

button {outline: none}
b, strong {font-weight: 700}
body, input, button {font-weight: 500}

button {
	border: none;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 0.2s ease-in-out;
}

button:hover {filter: brightness(110%)}
button:active {filter: brightness(90%)}

.popup, #modsdiv, .release-block {
	outline: 1px solid #444444;
	border: 3px solid var(--bg) inset;
}

.playBtn, .gamesContainer button, #winbtns div {
	cursor: pointer;
}

/* window buttons { */
#winbtns {
	z-index: 2;
	display: flex;
	position: fixed;
	top: var(--padding);
	right: calc(var(--padding) / 2);
}

#winbtns div {
	width: 25px;
	opacity: 0.6;
	height: 25px;
	position: relative;
	background-size: contain;
	transition: 0.25s ease-in-out;
	margin-right: calc(var(--padding) / 2);
}

#winbtns #close {background-image: url("icons/close.png")}
#winbtns #minimize {background-image: url("icons/minimize.png")}
#winbtns #settings {background-image: url("icons/settings.png")}

#winbtns #settings:hover {
	transform: rotate(90deg);
}

#winbtns div:hover {opacity: 1.0}
#winbtns div:active {transform: scale(0.95)}
/* } */

img {pointer-events: none}

#bgHolder {
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index:  -1;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image 0.1s ease-in-out;
	filter: brightness(0.4) blur(2px) grayscale(0.6);
}

#bgHolder[bg="0"] {background-image: url("../assets/bg/viper.jpg")}
#bgHolder[bg="1"] {background-image: url("../assets/bg/northstar.jpg")}
#bgHolder[bg="2"] {background-image: url("../assets/bg/tf2.jpg")}

/* drag control */
#bgHolder,
.contentContainer, 
.gamesContainer {
	user-select: none;
  	-webkit-app-region: drag;
}

#overlay.shown ~ #bgHolder,
#overlay.shown ~ .contentContainer, 
#overlay.shown ~ .gamesContainer {
  	-webkit-app-region: no-drag;
}

a, button, #close, #nsRelease, #vpReleaseNotes,
.mod, #overlay, #modsdiv, #winbtns, .contentMenu {
	-webkit-app-region: no-drag;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.switch {
	width: 50px;
	height: 25px;
	border-radius: 50px;
	background: var(--selbg);
}

.switch.on {
	--on-color: var(--red);
	background: rgba(var(--on-color), 0.4) !important;
}

.switch::after {
	left: -5px;
	width: 15px;
	height: 15px;
	content: " ";
	display: block;
	background: red;
	position: relative;
	border-radius: 50px;
	background: var(--bg);
	transition: 0.2s ease-in-out;
}

.switch.on::after {
	left: 15px;
	width: 20px;
	opacity: 0.8;
	background: rgb(var(--on-color));
}

.switch.on.red2 {--on-color: var(--red2)}
.switch.on.blue {--on-color: var(--blue)}
.switch.on.blue2 {--on-color: var(--blue2)}
.switch.on.orange {--on-color: var(--orange)}
.switch.on.orange2 {--on-color: var(--orange2)}

.switch.on:hover::after {
	transform: scale(1.2);
}

