body {
    margin: 0;
    overflow: hidden;
}

#bgHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg/viper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
    filter: brightness(0.4) blur(2px);
    transform: scale(1.1);
}

.gamesContainer {
    width: 10%;
    min-width: 95px;
    max-width: 120px;

    float: left;
    display: flex;
    flex-wrap: wrap;
}

.mainContainer {
    height: 100%;
    flex-grow: 1;
    display: flex;
}


/* nav bar buttons */
.gamesContainer button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;

    border: none;
    background-color: transparent;


    position: relative;
    flex-basis: calc(100% - 10px);
    margin: 20px 20px 0;
    box-sizing: border-box;
}

  
.gamesContainer button::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .gamesContainer button .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
  }

#vpBtn {
    background-image: url(../assets/icons/512x512.png);
    margin-bottom: 30px;
}

#nsBtn {
    background-image: url(../assets/icons/northstar.png);
}

#ttfBtn {
    background-image: url(../assets/icons/titanfall2.png);
    background-size: 69%;
}

.contentContainer {
    position: relative;
    display: block;
    padding: 0 10%;
    flex-grow: 1;
    color: white;
}

.contentMenu {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0;
    margin: 25px 0 50px 0;
    font-size: 20px;
}

.contentMenu li {
    margin: 0 26px;
}

#nsContent, #ttfContent {
    display: none;
}